<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>详情页</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
        <%- include('bar',{username:data.author}) %>
    <div class="detail">
        <div class="title"><%= data.title %></div>
        <div class="desc">
            <span>作者：<%= data.author %></span>
            <span>发布时间：<%= data.createTimeZH %></span>
        </div>
        <div class="content"><%- data.content %></div>
    </div>
</body>
</html>